{% extends "layout.html" %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container">
	<h3 class="title"><b>Encode: Hide a message inside an image</b></h3>
</div>

<form method="post" enctype="multipart/form-data">
	<div class="row">
		<label for="image-id">Select an image</label>
		<input class="u-full-width" type="file" id="image-id" name="file">
	</div>
	<div class="row">
		<label for="message-id">Write a text to hide inside the image</label>
		<textarea class="u-full-width" id="message-id" name="message"></textarea>
	</div>
	<input class="button-primary" type="submit" id="submit-id" value="Encode!">

</form>

{% endblock %}